/* styles.css (or your stylesheet) */

.container {
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  height: 100vh; /* Adjust this to your container's height */
}

.header-container {
  text-align: center;
  margin: 0; /* Remove default margin to avoid extra spacing */
}
.faq-list {
  width: 175vh;
  margin: 0 auto;
  border: 1px solid #eaeaea; /* Add the border style you want */
  padding: 0; /* Add padding to create some space around the content */
}
.question-container {
  display: flex;
  border: 1px solid #eaeaea; /* Add the border style you want */
  padding: 5px 20px ; /* Add padding to create some space around the content */
  position: relative;
  /* color: blue; */
}
span {
 position: fixed;
 right: 0;
}
.plus-icon,
.minus-icon {
  font-size: 14px; /* Adjust the font size to make the icons smaller */
  margin-right: 10px; /* Adjust the margin as needed */
  align-self: center; 
  margin-bottom: 10px;
}